<nav>
    <div class="nav-items-container">
        <a href="" class="logo"><i class='bx bx-library'></i></a>
    </div>
    
    <ul class="nav-list">
        <li class="nav-btn"><a href="/">Home</a></li>
        <li class="nav-btn"><a href="/posts">Contests</a></li>
        <li class="nav-btn"><a href="/add-post">Pedia</a></li>
        <li class="nav-btn"><a href="/contacts">About</a></li>
    </ul>
</nav>