<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <section class="welcome">
        <div class="welcome-title">
            <h1>/... Master basic structures and algorithms ></h1>
            <button class="start-button">start now</button>
        </div>
        <div class="welcome-img">
            <i class='bx bxs-coin-stack bx-tada' ></i>
        </div>
    </section>

    <section class="benefits">
        <h1>Why study computer science?</h1>
        <ul class="benefits-list">
            <li class="benefits-list-item">
                <i class='bx bxs-graduation' ></i>
                <p>graduation</p>
            </li>
            <li class="benefits-list-item">
                <i class='bx bxs-extension' ></i>
                <p>graduation</p>
            </li>
            <li class="benefits-list-item">
                <i class='bx bxs-trophy' ></i>
                <p>graduation</p>
            </li>
        </ul>
    </section>

    <footer>
        <p class="stack">Built with node.js, Express, MongoDB</p>
    </footer>
</body>
</html>